use correct HTTP status codes when rejecting

For example, if we don't support the Extended CONNECT protocol, we need to send a `http.StatusNotImplemented`, see RFC 9220, section 3.